body{
    background:white;
    font-size: 0.9em;


}



header, a  {
    
    font-size: 1.1em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     color:antiquewhite;
     text-align: center;
     line-height: 2.1em;
     text-decoration: none;
    
}

a:hover {

    font-size: 1.1em;
       font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color:red;
        text-align: center;
        line-height: 2.1em;
	    text-decoration: none;

}

#conteudo {
 
    
    border: 1 px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;

}

.item {
    padding: 10px;
    margin: 20px;
    background: white;
    margin: 10px;
}

h2{
   
    background:url(https://i.pinimg.com/736x/e8/cd/6f/e8cd6fec479c5a8ca855be2c8f1e838d.jpg);
    padding: 1px;
    margin-left: 370px;
    width: 35%;
    border-radius: 15%;
    color: antiquewhite;
    float: top;
    overflow: unset;  
}